html, body {
    margin: 0;
    padding: 0;
}

/* Bar Chart */
.bar-chart {
    background-color: #C7D9D9;
}
    
.bar {
    fill: #115D8C;
    transition: 1s all;
}

.bar:hover {
    fill: darkblue;
}

