html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 100px 0;  
}

section {
    padding: 0 80px;
    text-align: center;
}

h2 {
    margin-top: 60px;
    font-size: 2.5em;
}

p {
    font-size: 1.45em;
    letter-spacing: .3px;
    line-height: 1.5em;
}

/* Bar Chart */
.bar-section {
    background-color: #9fbf9a; 
}

.bar-chart {
    background-color: #cfe4cc;
    padding: 100px 40px 0 40px;
    box-shadow: -9px 12px 12px rgba(33, 33, 33, 0.32);
    font-weight: bold;
}
    
.bar {
    fill: #274a5a;
    transition: .5s all;
    box-shadow: -9px 12px 12px rgba(33, 33, 33, 0.32);
}

.bar:hover {
    fill: #082a3a;
}

/* Pie Chart */
.pie-section {
    background-color: #cbdcd3;
    flex-direction: column;
}

.pie-chart {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

aside {
    padding: 10px 0;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.63);
    margin: 40px auto 0 auto;
}

i {
    padding: 0 13px;
    margin-right: 8px;
}

aside p {
    display: inline-block;
    margin: 20px;
}

.ios {
    background-color: rgb(31, 119, 180);
}

.android {
    background-color: rgb(255, 127, 14);
}

.windows {
    background-color: rgb(44, 160, 44);
}

/* Line Chart */
.line-section {
    background-color: rgba(62, 119, 138, 0.64);
}

.line-chart {
    background-color: #d1e4ea;
    padding: 20px;
    box-shadow: -9px 12px 12px rgba(33, 33, 33, 0.32);
}

@media screen and (min-width: 1200px) {

    div {
        flex-direction: row;  
        width: 100%;
        height: 500px;
        padding: 60px 0;  
    }

    h2 {
        margin-top: 0;
        font-size: 2em;
    }
    
    p {
        font-size: 1.3em;
    }

    .pie-section {
        flex-direction: row-reverse;
    }

    section {
        width: 45%;
    }

}